{% extends 'base.html' %}

{% block content %}
  {% include 'classroom/students/_header.html' with active='new' %}
  <div class="card">
    <table class="table mb-0">
      <thead>
        <tr>
          <th>Quiz</th>
          <th class="d-none d-sm-table-cell">Number of Questions </th>
          <th>Duration</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for quiz in quizzes %}
          <tr>
            <td class="align-middle">{{ quiz.name }}</td>
            <td class="align-middle d-none d-sm-table-cell">{{ quiz.questions_count }} questions</td>
            <td>{{quiz.duration}}</td>
            <td class="text-right">
              <a href="{% url 'students:take_quiz' quiz.pk %}" class="btn btn-primary">Start quiz</a>
            </td>
          </tr>
        {% empty %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="4">No quiz right now.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
    <div>
    <p>You can change your password <a href="{% url 'password_change'%}"> here.</a></p>
    </div>
{% endblock %}
